# Системні файли
.DS_Store
Thumbs.db

# Налаштування IDE та редакторів
.idea/
.vscode/
*.swp
*.swo

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Віртуальні середовища (заборонено комітити!)
venv/
.venv/
env/

# Тимчасові та локальні файли конфігурацій
.env
